
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Schools", "ShowList","School") <br>
@Html.ActionLink("Courses", "ShowList", "Course") <br>
@Html.ActionLink("Students", "ShowList", "Student") <br>

